/* Bordered form */
body{
	background-image: url('background.jpg');
}
form {
    border: 3px solid #777;
    display: flex;
	font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 640px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 60%;
	  font-size: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #222;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 150px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
    width: 400px;
    height: 500px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 90px;
    padding-right: 50px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
form{
	justify-content: center;
	align-items: center;
	padding: 0 0 0 40px;
}
input[type=text], input[type=password] {
	display: list-item;
}
  .formerror {
    color: red;
  }
  #name {
    margin-top: 90px;
    width: 500px;
  }
  #password {
    margin-top: 35px;
    width: 500px;
  }